name: ci

on:
  push:
    branches: master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
#      -
#        name: Set up QEMU
#        uses: docker/setup-qemu-action@v1
#      -
#        name: Set up Docker Buildx
#        uses: docker/setup-buildx-action@v1
#      -
#        name: Login to DockerHub
#        uses: docker/login-action@v1 
#        with:
#          username: ${{ secrets.DOCKERHUB_USERNAME }}
#          password: ${{ secrets.DOCKERHUB_TOKEN }}
#      -
#        name: Build and push
#        uses: docker/build-push-action@v2
#        with:
#          push: true
#          platforms: linux/arm/v6,linux/amd64,linux/arm64,linux/arm/v7
#          cache-from: type=registry,ref=andrestaffe/docker-duoauthproxy:latest
#          cache-to: type=inline
#          tags: andrestaffe/docker-duoauthproxy:latest
      - 
        name: Docker Hub Description
        uses: peter-evans/dockerhub-description@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          repository: andrestaffe/docker-duoauthproxy
          readme-filepath: README.md
